.thumb {
  float: left;
  width: 23%;
  height: auto;
  margin: 5px;
  min-width: 130px;
}

.thumb img{
  max-width: 100%;
  
}

.thumb > * {
  margin: 0;
  padding: 0;
}

.sepia {
	filter: sepia(100%);
    -webkit-filter: sepia(100%);
    -moz-filter: sepia(100%);
}

.blanconegro {
         filter: grayscale(100%) brightness(100%) contrast(100%);
         -webkit-filter: grayscale(100%) brightness(100%) contrast(100%);
         -moz-filter: grayscale(100%) brightness(100%) contrast(100%);
}

.img-circle {
    border-radius: 50%;
}

.img-responsive{
	max-width:100%;
}

button.left {
    left: 20px;
}

button.right {
    right: 20px;
}

#carrusel button{
	position:absolute;
	top:50%;
}

#carrusel{
	text-align:center;
}

.ui-content {
    max-width: 1200px;
    margin: 0 auto;
}

.ui-listview > .ui-li-static {
    padding: 0 1em;
}

.ui-page-theme-a #cajadatosimagenes a.ui-btn{
	border: none;
}

#botonalta{
	background: #000000;
}

#alta{
	margin-top:0;
	margin-bottom:0;
}

#cajadatosimagenes ul{
	margin-top:0;
}

.ui-footer,
.ui-controlgroup-controls .ui-btn-corner-all, 
.ui-controlgroup-controls .ui-btn.ui-corner-all {
    border: none;
}

.ui-listview > .ui-li-static.ui-li-has-thumb {
    min-height: 3.625em;
    padding-left: 8.25em;
}

.ui-listview .ui-li-has-thumb > img:first-child, .ui-listview .ui-li-has-thumb > .ui-btn > img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    height:100%;
}

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    white-space: normal;
}

video{
	display:block;
	margin:0 auto;
}

#foto{
	margin:-43px auto 0;
}

#image-gallery-caption{
	max-width:98%;
	font-weight:normal;
	padding: 10px;
	text-align:left;
}
